/*
TODO: Figure out how to reuse header and footer across all pages (jquery?)
TODO: Make About page
TODO: Make Project page
TODO: Start hosting static site
TODO: Set up blog

Misc
TODO: Pick better colours
TODO: Ask for design advice
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

:root {
    --gray: #adadad;

    --footer-spacing: 0.5rem;
}

*, *::before, *::after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
    background: #fff;
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background: transparent;
    background: var(--gray); 
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: #4A4A4A; 
}

@supports (scrollbar-color: #4A4A4A var(--gray)){
    * {
        scrollbar-color: #4A4A4A var(--gray);
    }
}

.text-large {
    font-weight: 900;
    font-size: 2.4rem;
}

.text-med {
    font-weight: 400;
    font-size: 1.5rem;
}

body {
    margin: 0 auto;
    background-color: #fff;
    font-family: Lato, sans-serif;
    display: flex;
    flex-direction: column;
}

.landing {
    height: 100vh;
}

/* Main nav bar */

.main-nav {
    width: 100%;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: aliceblue;
    padding: 1rem 2rem;
    box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.38);
    height: fit-content;
    z-index: 9999;
}

.main-nav img {
    height: 3rem;
    --transition-property: transform;
    --transition-duration: 600ms;
    transition: var(--transition-property) var(--transition-duration) ease-in-out;
}

.main-nav img:hover {
    transform: rotate(360deg);
}

.main-nav-links a{
    line-height: 1.2em;
    color: #0000;
    text-shadow: 
    0 0 #000, 
    0 -1.2em #0000;
    overflow: hidden;
    transition: .2s;
}

.main-nav-links a:hover {
    text-shadow: 
    0 1.2em #0000, 
    0 0 #fff;
    background-color: var(--gray);
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li a {
    padding: 1rem;
    text-decoration: none;
    color: inherit;
}

.toggle-button {
    position: absolute;
    top: 1.6rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 30px;
}

.toggle-button .bar {
    height: 0.4rem;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}



/* Home main section */

.home-main-section {
    height: 100vh;
    margin: 0 20vw 0 20vw;
    --min: 15ch;
    --gap: 2rem;
    display: grid;
    grid-gap: var(--gap);
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}

.home-main-section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-main-section img {
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.38);
    border-radius: 0.3rem;
    width: 35vh;
    max-width: 100%;
}

.home-main-section .image-wrapper {
    align-items: center;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1) translateX(130%);
    animation: img-slide-in 1s ease-in-out forwards;
}

.introduction div {
    margin: 0.8rem;
}

.introduction {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    opacity: 0;
    animation: text-fade-in 0.5s ease-in-out forwards 0.8s;
}

@keyframes img-slide-in {
    100% {transform: translateX(0%);}
}

@keyframes text-fade-in {
    100% {opacity: 1;}
}

/* Footer */

footer {
    box-shadow: 0 -3px 3px 0px rgba(0, 0, 0, 0.38);
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 0;
}

.footer-nav {
    padding: var(--footer-spacing);
}

.footer-links {
    font-size: 1.3rem;
    padding: var(--footer-spacing);
}

.footer-nav a:hover {
    color: var(--gray);
}

.copyright {
    color: var(--gray);
    padding: var(--footer-spacing);
}

.footer-links i {
    padding: 0 1rem;
}

.footer-links i:hover {
    transform: scale(1.3);
}

.footer-links a:hover {
    opacity: 0.5;
}

.fa-discord {
    color: #5865F2;
}

.fa-github {
    color: #4e277b;
}

.fa-envelope {
    color: #e4a010;
}

@media (max-width: 600px){
    .toggle-button {
        display: flex;
    }
    .main-nav-links {
        display: none;
        width: 100%;
    }
    .main-nav {
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }
    .main-nav-links ul {
        width: 100%;
        flex-direction: column;
        transform: translateX(-30%);
        animation: slide-in 1s forwards;
        text-align: center;
    }
    .main-nav-links li {
        text-align: center;
        padding: 0.5rem;
        animation: fade-in 1s ease;
    }
    @keyframes fade-in {
        0%   {opacity: 0;}
        50% {opacity: 0.5;}
        100% {opacity: 1;}
    }
    @keyframes slide-in {
        100% { transform: translateX(0%); }
    }
    .main-nav-links a {
        display: block;
        width: 60%;
        min-width: fit-content;
        padding: 0.5rem 0;
        margin: 0 auto;
    }
    .main-nav-links a:hover {
        text-shadow: 
        0 1.2em #0000, 
        0 0 #fff;
        background-color: var(--gray);
    }
    .main-nav-links.active {
        display: flex;
    }
    .footer-nav {
        display: none;
    }
    .home-main-section {
        margin: 10vh 20vw;
        grid-gap: 2rem;
        min-height: calc(100vh - 5rem);
        grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
    }
}